<div class="container">
  <p class="center">За выполнение этого упражнения вы получите 10 баллов!</p>
  <div class="train-container">
    <div class='circle'>4</div>
  </div>
    <button class="buy-button">Старт!</button>
</div>


<script defer src="/timer.js"></script>
